.hoverIcon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--mantine-color-gray-6);
}

.hoverIcon&:hover{
    color: var(--mantine-color-turquoise-5);
    cursor: pointer;
}

.header{
    padding: 1rem 6rem;
    border-bottom: 1px solid var(--mantine-color-gray-3);
    @media (max-width: 38.625rem){
        padding: 1rem 1rem 0.5rem 1rem;
    }
}

