.c-1-lg {
    @media (min-width: 38.625em) {}
}

.c-1-md {
    @media (max-width: 48em) {}
}

.c-1-sm {
    @media (max-width: 38.625em) {}
}

.i-1-sm {
    @media (max-width: 38.625em) {
        height: 80px;
        width: 80px;
    }
}

.t-2-sm {
    @media (max-width: 38.625em) {
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.l-2-sm {
    @media (max-width: 38.625em) {
        font-size: 5px;

    }
}

